<form method="post" action="{{ path('app_structures_delete', {'id': structure.id}) }}" onsubmit="return confirm('Êtes-vous certain(e) de vouloir supprimer cette structure?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ structure.id) }}">
    <button class="btn btn-danger">Supprimer la structure</button>
</form>
