{% extends 'base.html.twig' %}

{% block title %}Green Fit TECHS | Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{# <div class="example-wrapper"> #} 
{# images sur 2 lignes de 2 colonnes #}
<div>

      <h1 class="text-center pt-5 pb-5">Bienvenue <span class="heading-color">{{ app.user ? app.user.firstname : ''}}</a></h1>

<!-- CARDS -->

{% if app.user %}

{% if "ROLE_ADMIN" in app.user.roles %}
<div class="cards-list">
<a href="/users/">  
<div class="card-home">
  <div class="card-image"> <img src="/images/cards/card-1.jpg" /> 
  </div>
  <div class="card-title title-white">
    <p>Équipe technique</p>
  </div>
</div>
</a>
{% endif %}

{% if "ROLE_ADMIN" in app.user.roles %}
<a href="/partners/">
  <div class="card-home">
  <div class="card-image"> <img src="/images/cards/card-2.jpg" />
  </div>
  <div class="card-title title-white">
    <p>Partenaires</p>
  </div>
</div>
</a>
{% endif %}

{% if "ROLE_ADMIN" in app.user.roles %}
<a href="/structures/">
<div class="card-home">
  <div class="card-image"> <img src="/images/cards/card-3.jpg" /> 
  </div>
  <div class="card-title title-white">
    <p>Structures</p>
  </div>
</div>
</a>
{% endif %}

{# {% if is_granted("ROLE_STRUCTURE") or is_granted("ROLE_PARTNER") in app.user.roles %} #}
{% if "ROLE_STRUCTURE" in app.user.roles %}
<a href="{{path('app_structures_show',{id:app.user.structure.id})}}">
<div class="card-home">
  <div class="card-image"> <img src="/images/cards/card-3.jpg"/> 
  </div>
  <div class="card-title title-white">
    <p>Structures</p>
  </div>
</div>
</a>
{% endif %}


{% if "ROLE_PARTNER" in app.user.roles %}
<a href="{{path('app_partners_structures',{id:app.user.partner.id})}}">
<div class="card-home">
  <div class="card-image"> <img src="/images/cards/card-3.jpg" /> 
  </div>
  <div class="card-title title-white">
    <p>Structures</p>
  </div>
</div>
</a>
{% endif %}

{% if "ROLE_ADMIN" in app.user.roles %}
<a href="/modules/">
<div class="card-home">
  <div class="card-image title-white"> <img src="/images/cards/card-4.jpg" /> 
  </div>
  <div class="card-title title-white">
    <p>Modules</p>
  </div>
  </div>
</div>
</a>
{% endif %}

{% else %}

{# Page d'accueil avant connexion #}

<div class="container col-xxl-10 px-4 py-1 ">
            <div class="row align-items-center g-5 py-5">
                <div class="col-10 col-lg-6">
                    <img src="/images/homepage-bg.jpg"
                        class="d-block mx-lg-auto img-fluid " alt="femmes faisant du fitness" width="700" height="500"
                        loading="lazy">
                </div>
                <div class="col-lg-6">
                   <p class="pb-5 text-right"> Veuillez vous connecter ci-dessous pour accéder aux services de Green FIT</p>
                    <a href="/login" class="login-button">SE CONNECTER</a>
                </div>
            </div>
        </div>
{% endif %}
{% endblock %}
