<form method="post" action="{{ path('app_modules_delete', {'id': module.id}) }}" onsubmit="return confirm('Êtes-vous certain(e) de vouloir supprimer ce module?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ module.id) }}">
    <button class="btn btn-danger">Supprimer le module</button>
</form>
