{% extends 'base.html.twig' %}

{% block title %}Éditer le Module{% endblock %}

{% block body %}
    <h1>Éditer le Module</h1>

    {{ include('modules/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="pt-4">
        <i class="fa-solid fa-circle-arrow-left pl-3"></i>
        <a href="{{ path('app_modules_index') }}">Revenir à la liste</a>
    </div>

    {{ include('modules/_delete_form.html.twig') }}
{% endblock %}
