  
  
  <div class="sidebar pt-5">
    <div class="sidebar-menu">
      <div class="profile">
      
            <a href="/">
                <img src="/images/logo.png" alt="Logo de Green Fit">
            </a>
           
      </div>
      
      <li class="item">
            <a href="/" class="menu-btn">
            <i class="fas fa-desktop" id="tooltip-dashboard"></i><span>Dashboard</span>
            </a>
      </li>
        <li class="item" id="profile">
            <a href="/users" class="menu-btn">
            <i class="fas fa-laptop-code" id="tooltip-technicians"></i><span>Équipe technique </span>
            </a>
      </li>
      <li class="item" id="profile">
            <a href="/partners" class="menu-btn">
                <i class="fas fa-user-circle" id="tooltip-partners"></i><span>Partenaires </span>
            </a>
      </li>
      <li class="item" id="messages">
        <a href="/structures" class="menu-btn">
          <i class="fa-solid fa-dumbbell" id="tooltip-structures"></i><span>Structures </span>
        </a>
      </li>
      <li class="item" id="settings">
        <a href="/modules" class="menu-btn">
          <i class="fas fa-cog" id="tooltip-modules"></i><span>Modules </span>
        </a>
      </li>
      
  </div>
  

{# Tooltips Scripts #}
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script type="text/javascript" src="{{ asset('js/tooltip.js') }}"></script>