  <div class="sidebar pt-5">
    <div class="sidebar-menu">
      <div class="profile">
      
            <a href="/admin">
                <img src="/images/logo.png" alt="Logo de Green Fit">
            </a>
           
      </div>
      
      <li class="item">
            <a href="/" class="menu-btn">
            <i class="fas fa-desktop"></i><span>Dashboard</span>
            </a>
      </li>
        <li class="item" id="profile">
            <a href="/users" class="menu-btn">
            <i class="fas fa-laptop-code"></i><span>Équipe technique </span>
            </a>
      </li>
      <li class="item" id="profile">
            <a href="/partners" class="menu-btn">
                <i class="fas fa-user-circle"></i><span>Partenaires </span>
            </a>
      </li>
      <li class="item" id="messages">
        <a href="/structures" class="menu-btn">
          <i class="fas fa-envelope"></i><span>Structures </span>
        </a>
      <li class="item" id="settings">
        <a href="/modules" class="menu-btn">
          <i class="fas fa-cog"></i><span>Modules </span>
        </a>
        {# <div class="sub-menu">
          <a href="#"><i class="fas fa-list"></i><span>Liste</span></a>
          <a href="#"><i class="fas fa-plus"></i><span>Ajouter</span></a>
          <a href="#"><i class="fas fa-pen-to-square"></i></i><span>Modifier</span></a>
        </div> #}
        
        
      </li>
    </div>
  </div>
  
