{% extends 'base.html.twig' %}

{% block title %}Nouveau Technicien{% endblock %}

{% block body %}
    <h1>Créer un nouveau technicien</h1>

    {{ include('users/_form.html.twig') }}

    <a href="{{ path('app_users_index') }}">Revenir à la liste</a>
{% endblock %}
