<form method="post" action="{{ path('app_partners_delete', {'id': partner.id}) }}" onsubmit="return confirm('Êtes-vous certain(e) de vouloir supprimer ce partenaire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
    <button class="btn delete"><i class="fa-solid fa-trash-can red"></i>Supprimer</button>
</form>
