{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Partenaire{% endblock %}

{% block body %}
    <h1>Créer un nouveau Partenaire</h1>

    {{ include('partners/_form.html.twig') }}

    <a href="{{ path('app_partners_index') }}">Revenir à la liste</a>
{% endblock %}
