{% extends "base.html.twig" %}

{% block title %}
    Oups, erreur 500
{% endblock %}

{%  block body %}
    <div class="container">
        <div class="g-5 py-5">
            <h1 class="fw-bold lh-1 mb-5">NOOOOOOON...ne pleurez pas !</h1>
            <p>C'est juste une erreur 500, cela signifie qu'il y a une erreur serveur'</p>
            <p class="mb-5"> Contactez le service informatique au <a href="tel:0102030405"> 01 02 03 04 05</a></p>
        </div>
    </div>
{% endblock %}